.sidebar {
    background: #00075A;
}

.sidebar-section {
    font-size: 14px;
    color: #fff;
  }

nav ul li {
    padding: 15px 0 10px;
    color: #fff;
    position: relative;
    top: 2px;
  }
nav ul li:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #d2d7da;
    width: 88%;
    bottom: -5px;
    left: 35px;
  }

