.main {
    background-image: url('../imgs/background.png');
    background-repeat: no-repeat;
    background-size: 100% 20%;
    margin: 0;
}

  .section-container, h1 {
    font-family: 'Nordea Sans Small Web Light', Fallback, sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    color: #fff;
  }

  h1 {
      margin-top: 90px;
  }

  .section {
      margin-right: 20px;
  }


  .card-title {
    margin-left: -15px;
    margin-top: 10px; 
    margin-bottom: 20px; 

}

.card-plan {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    margin: 0 5px 20px;
}


.currency {
    margin-top: 40px;
    margin-left: -10px;

}

small {
  color: #000;
  font-size: 12px;
}

.content-border {
  border-bottom: 1px #ccc solid;
  width: 100%;
  
}

.thead {
  background: #E3E3E3;
}

.info-section {
  position: relative;
  top: 15px;
}

code {
  color: #000;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #C9C7C7;
  background-color: #F4F2F1;
  padding: 10px;
}